<!DOCTYPE HTML>
<html>
<head>
<title>Swater</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="{{ url_for('static' , filename = 'css/main.css')}}" />
<noscript>
 <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/noscript.css')}}" />
</noscript>
</head>

<body class="is-preload">
<div id="wrapper">
  <div id="bg"></div>
  <div id="overlay"></div>
  <div id="main"> 
    
    <!-- Header -->
    <header id="header">
      <div class="parent"> 
		  <img class="image1" style="z-index: 1; width: 500px; filter: drop-shadow(0 2px 50px rgba(0, 0, 0, 0.7)" src="../static/css/images/Mars.png" />
		  <img class="image2" style="z-index: 1; width: 400px" src="../static/css/images/logo.png" />
		</div>
      <p>&nbsp;&bull;&nbsp;LONGITUD:{{expedition.length}} &nbsp;&bull;&nbsp;LATITUD:{{expedition.latitude}} &nbsp;&bull;&nbsp;TAMAÑO: {{expedition.size}}</p>
        <br>
            {% if expedition.potable == 1 %}
               <p>El pozo de agua si es potable </p>
            {% else %}
                <p>El pozo de agua no es potable </p>
            {% endif %}
    </header>
    
    <!-- Footer -->
    <footer id="footer"> <span class="copyright">&copy; Tubaina Funada <a href="https://youtu.be/dQw4w9WgXcQ">FREE DOGE COINS!</a>.</span> </footer>
  </div>
</div>
<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
</body>
</html>